.overall {
    width: 800px;
    margin: 0 auto;
    border: solid 2px rgb(255, 84, 84);
}
.images {
    width: 600px;
    margin: 50px auto;
    border: solid 4px rgb(255, 84, 84);
    height: 500px;
}
.visible {
    display: block;
}
.dots {
    text-align: center;
}
.dots svg circle:hover {
    fill:#00ac22;
}
.dots svg circle {
    transition: 0.5s;
    cursor: pointer;
}
.images img:not(.visible) {
    display:none;
}
.image {
    max-width: 600px;
    margin: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
