.overall {
    width: 800px;
    margin: 0 auto;
    border: solid 2px rgb(255, 84, 84);
}
.image {
    width: 600px;
    margin: 50px auto;
    border: solid 4px rgb(255, 84, 84);
}
img {
    max-width: 600px;
    margin: auto;
}

.visible {
    display: block;
}
.image img:not(.visible) {
    display: none;
}
.dots {
    text-align: center;
}
.dots svg circle:hover {
    fill:#00ac22;
}
.dots svg circle {
    transition: 0.5s;
    cursor: pointer;
}
